.modal {
  animation: zoomIn 0.5s;
  scroll-behavior: smooth;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideDown {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 15%;
    opacity: 1;
  }
}
